<% unless user_signed_in? %>
	<div class="hero-unit">
		<div class="container">
		<h1>Welcome to the Gameworn Project</h1>
			<br>
			<div class="row-fluid">
				<div class="span4">
					<img src="http://placehold.it/350x150" class="img-polaroid">
					</div>
				<div class="span4">
					<img src="http://placehold.it/350x150" class="img-polaroid">
				</div>
				<div class="span4">
					<img src="http://placehold.it/350x150" class="img-polaroid">
				</div>
			</div>
			<br>
			<hr>
			<p>
				<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-large" %>
				<%= link_to " Login", new_user_session_path, class: "btn btn-success btn-large" %>
			</p>
				</div>
			</div>
	</div>
	<br>
<br>
</div>
<% end %>
