<h1>About</h1>
<p>
	The
	<%= link_to "Gameworn Jersey Project", "http://gamewornjerseyproject.com" %>
	is a crowdsourced project to document gameworn hockey history and allow collectors to research and share knowledge.
</p>