<div class="hero-unit">
<h1>Welcome to the Gameworn Jersey Project</h1>
<p>
	You've found the home page for the 
	<%= link_to "Gameworn Jersey Project", "http://gamewornjerseyproject.com" %>
</p>
<p>
	<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
</p>
</div>

