<div class="container">
	<h1>Links</h1>
		<div class="row-fluid">
			<div class="span3">
				<img src="http://placehold.it/250x250" class="img-circle">
			</div>
			<div class="span3">
				<img src="http://placehold.it/250x250" class="img-circle">
			</div>
			<div class="span3">
				<img src="http://placehold.it/250x250" class="img-circle">
			</div>
			<div class="span3">
				<img src="http://placehold.it/250x250" class="img-circle">
			</div>		
	</div>
	<br>
	<div class="row-fluid">
			<div class="span3">
				<img src="http://placehold.it/250x250" class="img-circle">
			</div>
			<div class="span3">
				<img src="http://placehold.it/250x250" class="img-circle">
			</div>
			<div class="span3">
				<img src="http://placehold.it/250x250" class="img-circle">
			</div>
			<div class="span3">
				<img src="http://placehold.it/250x250" class="img-circle">
			</div>		
	</div>
</div>