<div class="footer">
	<div class="row">
		<div class="span12">
		<small>
			<%= link_to "Gameworn Jersey Project", "http://gamewornjerseyproject.com" %>

			by <%= link_to "Branden Mittra", "http://richter35.com" %>
		</small>
		</div>
	</div>
</div>